<div class="container mt-4 mb-4">
  <h5>التسجيل</h5>
  <hr class="mb-4" />
  <div class="register-container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{message}}
    </div>
    <div class="col-md-5">
      <form [formGroup]="userForm" (ngSubmit)="register()">
        <div class="form-group">
          <label for="exampleInputUserName" class="form-label" >اسم المستخدم</label>
          <input type="text" formControlName="userName" class="form-control" id="exampleInputUserName" placeholder="اسم المستخدم"
          [ngClass]="{'is-invalid' : this.userForm.get('userName').invalid && this.userForm.get('userName').touched}" (blur)="isUserNameExist()"/>
          <div class="text-danger" *ngIf="this.userForm.get('userName').invalid && this.userForm.get('userName').touched">{{validateMessages.userName.required}}</div>
          <div class="text-danger" *ngIf="this.userForm.get('userName').valid">{{validateMessages.userName.exist}}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label" >البريد الالكتروني</label >
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="البريد الالكتروني"
          [ngClass]="{'is-invalid' : this.userForm.get('email').invalid && this.userForm.get('email').touched}" (blur)="isEmailExist()" />
          <div class="text-danger" *ngIf="this.userForm.get('email').invalid && this.userForm.get('email').touched">
            <div *ngIf="this.userForm.get('email').errors.required">
              {{validateMessages.email.required}}
            </div>
            <div *ngIf="this.userForm.get('email').errors.email">
              {{validateMessages.email.notValid}}
            </div>
          </div>
          <div class="text-danger" *ngIf="this.userForm.get('email').valid">{{validateMessages.email.exist}}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label" >كلمة المرور</label >
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="كلمة المرور"
          [ngClass]="{'is-invalid' : this.userForm.get('password').invalid && this.userForm.get('password').touched}" />
          <div class="text-danger" *ngIf="this.userForm.get('password').invalid && this.userForm.get('password').touched">
            <div *ngIf="this.userForm.get('password').errors.required">{{validateMessages.password.required}}</div>
            <div *ngIf="this.userForm.get('password').errors.minlength">{{validateMessages.password.minLenth}}</div>
          </div>
          <div class="text-danger" *ngIf="isPasswordNotValid()">{{validateMessages.password.notMatch}}</div>
        </div>

        <div class="form-group">
          <label for="passwordConfirm" class="form-label" >تأكيد كلمة المرور</label >
          <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="كلمة المرور"
          [ngClass]="{'is-invalid' : this.userForm.get('passwordConfirm').invalid && this.userForm.get('passwordConfirm').touched}" />
          <div class="text-danger" *ngIf="this.userForm.get('passwordConfirm').invalid && this.userForm.get('passwordConfirm').touched">
            <div *ngIf="this.userForm.get('passwordConfirm').errors.required">{{validateMessages.passwordConfirm.required}}</div>
            <div *ngIf="this.userForm.get('passwordConfirm').errors.minlength">{{validateMessages.passwordConfirm.minLenth}}</div>
          </div>
          <div class="text-danger" *ngIf="isPasswordNotMatch()">{{validateMessages.passwordConfirm.isMatch}}</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="this.userForm.invalid || isPasswordNotMatch() || isUserNameExist() || isEmailExist()">تسجيل</button>
      </form>
    </div>
  </div>
  <div class="btn-login mt-3">
    لدي حساب <a routerLink="/login" class="">تسجيل الدخول</a>
  </div>
</div>
