<div class="container mt-4 mb-4">
  <h5>استعادة كلمة المرور</h5>
  <hr class="mb-4" />
  <div class="forgetPassword-container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{message}}
    </div>
    <div class="col-md-5">
      <form [formGroup]="forgetPassForm" (ngSubmit)="requestPassword()">
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label" >البريد الالكتروني</label >
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="البريد الالكتروني" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          [ngClass]="{'is-invalid' : this.forgetPassForm.get('email').invalid && this.forgetPassForm.get('email').touched}" />
          <div class="text-danger" *ngIf="this.forgetPassForm.get('email').invalid && this.forgetPassForm.get('email').touched">
            <div class="text-danger" *ngIf="this.forgetPassForm.get('email').errors.required">
              {{validateMessages.email.required}}
            </div>
            <div class="text-danger" *ngIf="this.forgetPassForm.get('email').errors.pattern">
              {{validateMessages.email.notValid}}
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="this.forgetPassForm.invalid ">استعادة</button>
      </form>
    </div>
  </div>
</div>
